# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Testscripts
testscripts/
testscripts

# Logs
logs/
*.log

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec
